*{
    margin: 0;
}

.contenedor{
    background: #6A5495;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 15%;
    color: #54B435;
}

button{
    font-size: xx-large;
    padding: 0.75em;
    background-color: #ED5EDD;
    color: #54B435;
    text-transform: uppercase;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}
